.kokua {
    display: flex;
    justify-content: space-between;
    width: 139px;
    height: 59px;
    padding: 10px;

}

.container #nav1{
    border-bottom: 1px solid black; 
}

#nav1 {
    display: flex;
    align-items: center;
    gap: 2vw;
    justify-content: space-around;

}

.nav-links {
    display: flex;
    gap: 10vw;
    border-width: 1px solid black;
    justify-content: space-between;
    margin-left: auto;
    
}

.nav-links .Espaciado {
    border-right: 2px solid black;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.registrar-button{
    margin-left: auto;
    padding-right: 10px;
}

.registrar-button a {
    color:black;
    border: none;
    padding: 1vw 2vw;
    border-radius: 0.5vw;
    cursor: pointer;
    text-decoration: none;
    font-family: Source Sans Pro;
    font-weight: bold;
}

footer {
    position: relative;
    bottom: 0;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid black;

}

.footercopy p {
    font-size: 15px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}


.Espaciadoabajo {
    border-color: 2px solid black;
}

.footer-contenido {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-items: flex-start;
    flex-grow: 1;
}

.footer-primeracolumna {
    margin-right: 15px;
    text-align: left;
    font-size: 12px;
}

.footer-segundacolumna {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 50px;
    text-align: left;
}

.footer-segundacolumna a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: Source Sans Pro;

}

.footer-segundacolumna p {
    font-size: 16px;
    font-family: Source Sans Pro;
    font-weight: bolder;

}

.kokua2 {
    width: 100px;
    height: 100%;
    display: flex;

}

.footerconimagen .kokua2{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
.registrar-button{
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.registrar-button:hover .dropdown {
    display: block;
}

.dropdown li {
    padding-top: 8px;
    padding-bottom: 8px;
}

.dropdown li:hover {
    background-color: #f0f0f0;
  
}
li{
    list-style: none;
}
span{
    background-color: #4DD7FA;
    color: #fff;
    border: none;
    padding: 1vw 2vw;
    border-radius: 0.5vw;
    cursor: pointer;
    text-decoration: none;
}