.combo-box-4 {
    width: 70%;
    height: 28px;
    padding: 4px 8px 4px 8px;
    background: #EBEBEB;
    color: black;
    border-color: #232323;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px 4px 4px 4px;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 14px;
    text-align: left;
  }

  .labelCombo {
    width: 110px;
    height: 20px;
    color: #000000;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
  }

  .checkbox {
    width: 35px;
    height: 15px;
    background: #FFFFFF;
    color: #232323;
    border-color: #232323;
    border-width: 1.5px;
    border-style: solid;
    font-family: "Helvetica";
    font-weight: 400;
    text-align: left;

  }
.finRegistro {
    width: 214px;
    height: 40px;
    padding: 0px 10px 0px 10px;
    background: #FF8A84;
    color: #FFFFFF;
    border-color: #FFC3AE;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 3px 3px 3px;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }


  .page-container {
    display: flex;
    width: 100%;
    height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */

}

.ContinuacionRegistro {
    flex: 1;
    padding: 20px;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
   
   transform: translateX(15%);
}




.checkbox-label {
    font-size: 14px; /* Tamaño del texto */
}


.finRegistro{
  transform: translateX(40%);
  margin-top: 25px;
}

.tituloRegistro2 {
  transform: translateX(7%);
}

.ImagenesContinuacion {
  display: flex;
  flex-direction: column; /* Coloca las imágenes una encima de la otra */
  justify-content: center;
  align-items: center;
  max-width: 100%; /* Ajusta el ancho máximo según sea necesario */
  overflow: hidden; /* Evita que las imágenes sobresalgan */
  margin-top: 20px; /* Ajusta el margen superior según sea necesario */
  padding: 10px; /* Ajusta el espacio interno según sea necesario */
}

.imgrv2 {
  max-width: 90%; /* Ajusta el ancho máximo de las imágenes */
  height:  50%; /* Mantiene la proporción de aspecto */
  margin: 10px 0; /* Ajusta los márgenes verticales según sea necesario */
}