/* Estilos.css */

.Registrar {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
  }

.Registrar .FormularioRegistro {
    width: 80%; 
  max-width: 400px;
}

.FormularioRegistro h1 {
    font-family: "Poppins";
    font-weight: bold;
    font-size: 24px;
    
}
.FormularioRegistro p{
    font-family: "Poppins";
    font-weight: bold;
    font-size: 14px;
}

.Fotoregistrar {
    margin-top: 20px;
    margin-bottom: 20px;
}

.Fotoregistrar .foto {
    width: 459px;
    height: 600px;
}
.Botonregistro {
  width: 135px;
  height: 35px;
  padding: 0px 10px 0px 10px;
  background: #FF8A84;
  color: #FFFFFF;
  
}
.politica-privacidad{
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 14px;
  width: 310px;
  height: 40px;
}
.terminos-condiciones{
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 14px;
  width: 310px;
  height: 40px;
}
.FormularioRegistro label {
  display: block;
  font-weight: bold; 
  margin-bottom: 5px; 
  width: 358px;
  height: 28px;
  font-weight: 400;
  font-size: 14px;
}
.Dudas{
  
  padding: 4px 8px 4px 8px;
  background: #F7F6F6;
  color: #111111;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px 3px 3px 3px;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
}