.panelproyecto {

    background-image: url("/voluntariadocercano/panelproyecto.png");
    height: 60vh;
    background-size: cover;
    background-position: center 20%;
}
.search-container {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 32px 32px 32px 32px;
    border-color: #232323;
  }

  .search-icon {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
  }

  .search-input {
    padding-left: 25px; /* space for the icon */
    width: 50%;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }